@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.not-found {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

h2 {
    font-size: 5rem;
    color: #8BBCFF;
    font-family: "Luckiest Guy";
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: blue;
    font-weight: bold;
}