<div class="add-product">
        
    <form class="add-form">
        <h3>Add Product</h3>
        
            <input type="file" multiple id="images">
            <label for="images"></label>

        <label for="product-name">Product name</label>
        <input type="text" id="product-name">

        <label for="product-description">Product description</label>
        <textarea name="product-description" id="product-description" cols="15" rows="10"></textarea>

        <label for="phone-number">Phone Number</label>
        <input type="text" id="phone-number">

        <div class="btns">
            <button class="cancle-btn">Cancle</button>
            <button class="add-btn">Add</button>
        </div>
    </form>
</div>
