<footer>
    <div class="links">
        <div class="contact-us">
            <h4>Contact Us</h4>
            <ul>
                <li>
                    <address>Tsarigradsko Shose blvd 87, Sofia 1113</address>
                </li>
                <li>
                    +359 887 004 527
                </li>
                <li>
                    flea-market@gmail.com
                </li>
            </ul>
        </div>


        <div class="account">
            <h4>Account</h4>
            <ul>
                <li>
                    <a routerLink="/register">Create Account</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
            </ul>
        </div>

        <div class="social">
            <h4>Social</h4>
            <ul>
                <li>
                    <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-instagram"></i> Instagram</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="copy-rights">
        <p>All rights reserved by Flea Market 2024 &copy;</p>
    </div>
</footer>