<div class="about-us">
    <div class="description">
    <p>Oh, no… you are a broke university student with an assignment due in 2 days and your laptop just broke? Don’t
        worry, we’ve got you.</p>
        <br/>
    <p>You are leaving for your long planned and expensive vacation next week, you desperately need a better phone to
        take great photos while you travel, but don’t want to spend a small fortune a brand-new phone? Don’t worry,
        we’ve got you.</p>
        <br/>
    <p>You’ve just bought the latest release of this awesome tablet and want to balance your bank account a bit by
        selling your old one? After all, it is in great condition… Don’t worry, we’ve got you.</p>
    <p>You are an environmentally conscious person and want to buy a used device keeps to keep it out of the dump (where
        it does its damage to the planet) for longer, and don’t want to put a new device into circulation unnecessarily?
        You are at the right place.</p>
        <br/>
    <p>We are an online retailer of used electronics, where you can sell your old devices or buy used ones for a great
        price. Get in touch with us and do your bit for the planet; we offer reselling services that can help keep
        toxins out of the ground and electronics in circulation for longer, all while you save money.</p>
    </div>
</div>