<div class="site-hader">
    <div class="first-header-container">
        <div class="site-title">
            <p><a routerLink="/home">Flea Market</a></p>
            <div class="main-nav">
                <nav>
                    <ul>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">How do I sell?</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="second-header-container">
        <div *ngIf="!isLoged" class="login-register-nav">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/register">Register</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div *ngIf="isLoged" class="user-nav">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/profile">Krasimir's Profile</a>
                    </li>
                    <li>
                        <a routerLink="/add-product">Add Product</a>
                    </li>
                    <li>
                        <a href="#">Wish List</a>
                    </li>
                    <li>
                        <a href="#" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>