<div class="sell">
    <div class="register">
        <a routerLink="/register"><h2>Register</h2></a>
        <p>Create your account and you can start selling your devices.</p>
    </div>

    <div class="add-product">
        <h2>Add Product</h2>
        <p>Add your devices easily and quickly with a few clicks.</p>
        <p> By listing the model and adding a few photos.</p>
        <p>You can remove and edit your listed products.</p>
        <p>Now they are available for sale.</p>
    </div>
</div>
