<main>
    <section>
        <div class="site-image">
            <img src="../../assets/home-page-photo.jpg" alt="">
        </div>
    </section>
    <section class="categories-container">
        <h2>Categories</h2>
        <div class="categories">
            <div class="laptops">
                <img src="../../assets/laptop-image.jpg" alt="">
                <button routerLink="/product-list" class="laptops-btn" (click)="laptopFn()">Laptops</button>
            </div>
            <div class="tablets">
                <img src="../../assets/tablet-inage.jpg" alt="">
                <button class="tablets-btn" routerLink="/product-list" (click)="tabletFn()">Tablets</button>
            </div>
            <div class="phones">
                <img src="../../assets/phone-image-1.jpg" alt="">
                <button class="phones-btn" routerLink="/product-list" (click)="phoneFn()">Phones</button>
            </div>
            <div class="monitors">
                <img src="../../assets/monitor-image.jpg" alt="">
                <button class="monitors-btn" routerLink="/product-list" (click)="monitorFn()">Monitors</button>
            </div>
            <div class="headphone">
                <img src="../../assets/headphone-image.jpg" alt="">
                <button class="headphone-btn" routerLink="/product-list" (click)="headphonesFn()">Headphones</button>
            </div>
        </div>
    </section>
</main>