<main>
    <section>
        <div class="site-image">
            <img src="../../assets/places-1 (1).jpg" alt="">
        </div>
    </section>

    <section class="categories-container">
        <h2>Categories</h2>
        <div class="categories">


            <div class="laptops">
                <img src="../../assets/laptop-image.jpg" alt="">
                <button class="laptops-btn">Laptops</button>
            </div>
            <div class="tablets">
                <img src="../../assets/tablet-inage.jpg" alt="">
                <button class="tablets-btn">Tablets</button>
            </div>
            <div class="phones">
                <img src="../../assets/phone-image-1.jpg" alt="">
                <button class="phones-btn">Phones</button>
            </div>
            <div class="monitors">
                <img src="../../assets/monitor-image.jpg" alt="">
                <button class="monitors-btn">Monitors</button>
            </div>
            <div class="headphone">
                <img src="../../assets/headphone-image.jpg" alt="">
                <button class="headphone-btn">Headphones</button>
            </div>
        </div>
    </section>
</main>
