
*  {
    padding: 0.5rem;
}

.current-product {
    font-family: "Open Sans";
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 5rem auto;
    min-height: 600px;
    height: auto;
    gap: 1rem;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px 0px #b2b1b1;
}

.images{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

a, img {
    width:150px;
    padding: 0.5rem;
}

.category {
    font-size: 1.2rem;
}

.description-prodcut {
    font-size: 1rem;
    max-width: 500px;
    line-height: 1.5;
}

.phone-number {
    padding-top: 2rem;
    font-weight: bold;
    text-align: left;
}